@media (max-width: 1024px) {
.container{max-width:100%;padding:0 30px}
nav.navbar.bootsnav .navbar-nav > li{border-bottom:none;text-align:left}
nav.navbar.bootsnav.navbar-mobile ul.nav > li > a{text-align:left;border:none}
nav.navbar.bootsnav.navbar-mobile ul.nav > li > a img{margin-right:15px;width:22px}
nav.navbar.bootsnav.navbar-mobile .navbar-collapse{border-right:solid 1px #e0e0e0;padding:15px 0}
nav.navbar.bootsnav .navbar-nav > li.is-active a{color:#204AFB}
*{box-sizing:border-box}
body{overflow-x:hidden}
nav.navbar.bootsnav .navbar-toggle{color:#5c38db;padding:8px 4px}
}
@media (max-width: 960px) {
.sidebar{display:none}
.content{margin-top:60px;margin-left:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;padding:30px}
nav.navbar.bootsnav .navbar-brand{display:inline-block;float:left!important;margin-left:40px!important}
}
@media (max-width: 768px) {
.table .row{padding:14px 0 7px;display:block;border-bottom:1px solid #e6e6e6}
.table .row.header{display:none;padding:0;height:6px}
.table .row.header .cell{display:none}
.table .row .cell{margin-bottom:10px;border:none}
.table .row .cell:before{margin-bottom:3px;content:attr(data-title);min-width:180px;font-size:12px;line-height:10px;font-weight:500;text-transform:uppercase;color:#B0B8CC;display:inline-block}
.table .cell{padding:2px 16px;display:block;width:100%!important}
.mercharts .table .row,.merchants .table .row,.exchange .table .row,.table .row{display:block;padding:20px}
.mercharts .table .row.header,.merchants .table .row.header,.exchange .table .row.header{display:none}
.mercharts .table .row .cell:nth-child(1),.merchants .table .row .cell:nth-child(1),.mercharts .table .row .cell:nth-child(2),.merchants .table .row .cell:nth-child(2),.mercharts .table .row .cell:nth-child(3),.merchants .table .row .cell:nth-child(3){width:100%}
.mercharts .table .row .cell:nth-child(4),.merchants .table .row .cell:nth-child(4){width:100%}
.table-btn{background:#5D38DB;border-color:#5D38DB;color:#FFF;margin-top:5px}
.breadcrumbs{margin-bottom:30px}
.tabs a{padding:0 5px}
.tabs li{margin-right:20px;width: auto;flex-shrink: 0;display: flex;overflow: visible; position: relative;}
.tabs li:after {content: ' '; width: calc(100% + 20px); height: 1px;background-color: #E6E8F1;bottom: 0;position: absolute;left: -20px;}
.tabs_item{padding:30px 0 0}
.tabs{display: flex;overflow-x: visible;-webkit-overflow-scrolling: touch;scroll-snap-points-x: repeat(300px);scroll-snap-type: mandatory;overflow-x: auto;}
body {overflow-x: hidden!important;}
}
@media (max-width: 640px) {
.login form{width:80%}
.form-footer{width:100%}
.nav-login{padding:0}
.nav-login img{width:32px}
.search-bar{padding-right:10px;margin-right:10px}
.searchinput{min-width:auto}
nav.navbar.bootsnav{padding:0;display:inline-block;width:100%}
.breadcrumbs{margin-bottom:20px}
.table .row .cell:before{min-width:100%;display:block;margin-bottom:5px}
table .row .cell{margin-bottom:12px}
.store .table .row .cell{border-bottom:1px solid rgba(209,216,245,0.25)}
.store .table .row .cell:last-child{border-bottom:none}
.tab-footer p{font-size:13px}
.page-box > p{margin-left:10px;font-size:13px;margin-bottom:0}
.modal-dialog{padding:12px 0}
.modal-dialog .container{padding:0 20px}
.modal-header,.modal-footer{border:none;padding-left:5px;padding-right:5px}
.modal-body{padding:10px 5px}
.modal-body .row > .col-9{display:block;width:100%;max-width:100%;flex:0 0 100%;padding-right:15px!important}
.modal-body .row > .col-3{display:block;width:100%;max-width:100%;flex:0 0 100%;padding-left:15px!important}
}
.modal-body .row > .col-3 .btn{width:100%;margin-top:10px}
.modal-dialog .close{position:absolute;right:4px;top:4px}
.modal-dialog .container h4{font-size:1.3em}
h2.title{font-size:1.6rem}
@media (max-width: 480px) {
.login form{width:86%}
.login{padding-top:42px;background-size:600px}
.login .btn{position:relative;left:50%;right:auto;transform:translate(-50%,0%);-webkit-transform:translate(-50%,0);margin-top:30px;width:100%}
.login .logo p{font-size:18px}
}
@media (max-width: 400px) {
.searchinput{width:78px}
nav.navbar.bootsnav .navbar-header{min-width:320px}
.tabs a {font-size: 13px;}
}