html{background-color:#F5F6FA;font-family:PingFangTC-Regular,sans-serif;height:100%;overflow-x:hidden;overflow-y:auto;overflow:-moz-hidden-unscrollable;-ms-overflow-style:-ms-autohiding-scrollbar;-ms-overflow-style:none}
body{background-color:#F5F6FA;color:#686868;background-repeat:no-repeat;background-position:right bottom;background-attachment:fixed;　overflow-x:hidden;-ms-overflow-style:none;height:100%;width:100%;margin:0}
body::-webkit-scrollbar{display:none}
*{outline:0!important}
a{color:#FFF}
a:hover{color:#FFF;text-decoration:none;transform:all .3s;-webkit-transform:all .3s}
input::-moz-focus-inner{border-color:transparent!important}
input:placeholder{color:#686868}
*{overflow:-moz-hidden-unscrollable;-ms-overflow-style:-ms-autohiding-scrollbar;-ms-overflow-style:none}
html, body { touch-action: manipulation; }
#vue{min-height: 100vh;}
#svg{position: fixed; background:#000; cursor: pointer;}
#svg.editing{cursor:text}
#pen{position: fixed; top: 10px; right: 10px; width: 50px;}
#pen.editing{background-color: red}
#pic{position: fixed; top: 60px; right: 10px; width: 50px;}
#pic.editing{background-color: red}
