<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FiO TMS Dashboard</title>

    <!-- Font -->
    <link href="fonts/FontAwesome/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootsnav.css" rel="stylesheet">
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/rwd.css" rel="stylesheet">
	<!-- amchart -->
	<script defer src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script defer src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script defer src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- Vue -->
    <script defer src="/vue/vue.js"></script>
    <script defer src="/js/axios.js"></script>
    <script defer src="/js/api.js"></script>
    <script defer src="/dashboard.js"></script>
    <!-- Map -->
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlhRSbgrebvhevKKpfocJaMqU16C6orM4&callback=initMap"></script>

</head>

<body>
    <div id="vue" class="wrapper merchants">
        <header class="header">
            <!-- Start Navigation -->
            <nav id="nav" class="navbar navbar-default navbar-mobile bootsnav on">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/header-logo.png">
                    </a>
                    <div class="navbar-header-right">
                        <div class="search-bar">
                            <button type="submit" class="searchbutton">
                                <img src="img/search-icon.png">
                            </button>
                            <input type="text" class="searchinput" placeholder="Search e.g. live instagram channel">
                        </div>
                        <div>
                            <a class="user nav-login dropdown-toggle" title="Menu"><img src="img/header-logo2.png"></a>
                            <ul class="dropdown userdown" style="display: none;">
                                <li>
                                    <p> Welcome, <span v-text="username"></sapn> </p> </li>
                                    <li> <a href="#">Profile settings</a> </li>
                                    <li> <a href="/">Logout</a> </li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <!-- End Header Navigation --> 
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="text-center is-active"><a href="/exchange"><div><img src="img/exchange-icon-active.png">Dashboard</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/consumers"><div><img src="img/exchange-icon.png">Consumers</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/products"><div><img src="img/exchange-icon.png">Products</div></a></li>
                            <li class="text-center"><a href="/merchants"><div><img src="img/merchants-icon.png">Merchants</div></a></li>
                            <li class="text-center"><a href="/store"><div><img src="img/store-icon.png">Store</div></a></li>
                            <li class="text-center"><a href="/exchange"><div><img src="img/exchange-icon.png">Exchange</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/log"><div><img src="img/store-icon.png">Log</div></a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse --> 
            </nav>
            <!-- End Navigation --> 
        </header>

        <section>
            <div class="row">
                <div class="col-md-3 sidebar">
                    <ul>
                        <li class="is-active"><a href="/dashboard"><img src="img/exchange-icon-active.png">Dashboard</a></li>
                        <li v-if="type == 'admin'"><a href="/consumers"><img src="img/merchants-icon.png">Consumers</a></li>
                        <li v-if="type == 'admin'"><a href="/products"><img src="img/merchants-icon.png">Products</a></li>
                        <li><a href="/merchants"><img src="img/merchants-icon.png">Merchants</a></li>
                        <li><a href="/store"><img src="img/store-icon.png">Store</a></li>
                        <li><a href="/exchange"><img src="img/exchange-icon.png">Exchange</a></li>
                        <li v-if="type == 'admin'"><a href="/log"><img src="img/store-icon.png">Log</a></li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-12 content">

                    <div class="title">
                        <h5>Trade Positions</h5>
                    </div>

                    <div style="position: relative; height: 500px">
                        <div id="map" style="height: 100%; position: absolute; width: 100%; top: px; overflow: hidden;"></div>
                    </div>

                    <div class="title">
                        <h5>Daily Trades</h5>
                    </div>

                    <div id="chartdiv" style="height: 500px;"></div>
                </div>
            </div>
        </section>
    </div>

<!-- js --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootsnav.js"></script>
<script>
    $(function() {
        // Dropdown toggle
        $('.dropdown-toggle').click(function() {
            $(this).next('.dropdown').toggle();
        });

        $(document).click(function(e) {
            var target = e.target;
            if (!$(target).is('.dropdown-toggle') && !$(target).parents().is('.dropdown-toggle')) {
                $('.dropdown').hide();
            }
        });

    });
</script>
</body>

</html>