<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FiO TMS Dashboard</title>

    <!-- Font -->
    <link href="fonts/FontAwesome/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootsnav.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/rwd.css" rel="stylesheet" type="text/css">
    <!-- Vue -->
    <script defer src="/vue/vue.js"></script>
    <script defer src="/js/axios.js"></script>
    <script defer src="/js/api.js"></script>
    <script defer src="/exchange.js"></script>

</head>

<body>
    <div id="vue" class="wrapper exchange">
        <header class="header">
            <!-- Start Navigation -->
            <nav id="nav" class="navbar navbar-default navbar-mobile bootsnav on">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/header-logo.png">
                    </a>
                    <div class="navbar-header-right">
                        <div class="search-bar">
                            <button type="submit" class="searchbutton">
                                <img src="img/search-icon.png">
                            </button>
                            <input type="text" class="searchinput" placeholder="Search e.g. live instagram channel">
                        </div>
                        <div>
                            <a class="user nav-login dropdown-toggle" title="Menu"><img src="img/header-logo2.png"></a>
                            <ul class="dropdown userdown" style="display: none;">
                                <li>
                                    <p> Welcome, <span v-text="username"></sapn> </p> </li>
                                    <li> <a href="#">Profile settings</a> </li>
                                    <li> <a href="/">Logout</a> </li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <!-- End Header Navigation --> 
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="text-center"><a href="/dashboard"><div><img src="img/exchange-icon.png">Dashboard</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/consumers"><div><img src="img/exchange-icon.png">Consumers</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/products"><div><img src="img/exchange-icon.png">Products</div></a></li>
                            <li class="text-center"><a href="/merchants"><div><img src="img/merchants-icon.png">Merchants</div></a></li>
                            <li class="text-center"><a href="/store"><div><img src="img/store-icon.png">Store</div></a></li>
                            <li class="text-center is-active"><a href="/exchange"><div><img src="img/exchange-icon-active.png">Exchange</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/log"><div><img src="img/store-icon.png">Log</div></a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse --> 
            </nav>
            <!-- End Navigation --> 
        </header>
        <section>
                <div class="row">
                    <div class="col-md-3 sidebar">
                        <ul>
                            <li><a href="/dashboard"><img src="img/exchange-icon.png">Dashboard</a></li>
                            <li v-if="type == 'admin'"><a href="/consumers"><img src="img/merchants-icon.png">Consumers</a></li>
                            <li v-if="type == 'admin'"><a href="/products"><img src="img/merchants-icon.png">Products</a></li>
                            <li><a href="/merchants"><img src="img/merchants-icon.png">Merchants</a></li>
                            <li><a href="/store"><img src="img/store-icon.png">Store</a></li>
                            <li class="is-active"><a href="/exchange"><img src="img/exchange-icon-active.png">Exchange</a></li>
                            <li v-if="type == 'admin'"><a href="/log"><img src="img/store-icon.png">Log</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-12 content">
                        <div class="breadcrumbs">Home&emsp;/&emsp;<span>Exchanges</span></div>
                        <h2 class="title">Exchange</h2>
                        <div class="table">
                            <div class="row header">
                                <div class="cell" style="width: 40%;">
                                    From
                                </div>
                                <div class="cell" style="width: 40%;">
                                    To
                                </div>
                                <div class="cell">
                                    Function
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell" data-title="From" style="width: 40%;">
                                    <div class="select-box2">
                                            <select name="page" id="select" class="custom-select select" placeholder="Gabro">
                                                <option value="Gabro">Gabro</option>
                                                <option value="EXR">EXR</option>
                                                <option value="LCT">LCT</option>
                                            </select>
                                    </div>

                                </div>
                                <div class="cell" data-title="To" style="width: 40%;">
                                    FiO
                                </div>
                                <div class="cell" data-title="Function">
                                    <a href="#" class="btn table-btn">Deposit</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell" data-title="From" style="width: 40%;">
                                    LCT

                                </div>
                                <div class="cell" data-title="To" style="width: 40%;">
                                    <div class="select-box2">
                                            <select name="page" id="select" class="custom-select select" placeholder="Gabro">
                                                <option value="Gabro">Gabro</option>
                                                <option value="EXR">EXR</option>
                                                <option value="LCT">LCT</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="cell" data-title="Function">
                                    <a href="#" class="btn table-btn">Deposit</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell" data-title="From" style="width: 40%;">
                                    <div class="select-box2">
                                            <select name="page" id="select" class="custom-select select" placeholder="FiO">
                                                <option value="Gabro">Gabro</option>
                                                <option value="EXR">EXR</option>
                                                <option value="LCT">LCT</option>
                                            </select>
                                    </div>

                                </div>
                                <div class="cell" data-title="To" style="width: 40%;">
                                    <input class="text-input" type="text" name="mail" placeholder="Enter address">
                                </div>
                                <div class="cell" data-title="Function">
                                    <a href="#" class="btn table-btn">Deposit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
    </div>
    <!-- dialog start-->
        
    

    <!-- js --> 
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/bootsnav.js"></script> 
    <script>
        $(function() {
            // Dropdown toggle
            $('.dropdown-toggle').click(function() {
                $(this).next('.dropdown').toggle();
            });

            $(document).click(function(e) {
                var target = e.target;
                if (!$(target).is('.dropdown-toggle') && !$(target).parents().is('.dropdown-toggle')) {
                    $('.dropdown').hide();
                }
            });

        });
    </script>
     <script type="text/javascript">
        $(".custom-select").each(function() {
            var classes = $(this).attr("class"),
                id = $(this).attr("id"),
                name = $(this).attr("name");
            var template = '<div class="' + classes + '">';
            template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
            template += '<div class="custom-options">';
            $(this).find("option").each(function() {
                template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this)() + '</span>';
            });
            template += '</div></div>';

            $(this).wrap('<div class="custom-select-wrapper"></div>');
            $(this).hide();
            $(this).after(template);
        });
        $(".custom-option:first-of-type").hover(function() {
            $(this).parents(".custom-options").addClass("option-hover");
        }, function() {
            $(this).parents(".custom-options").removeClass("option-hover");
        });
        $(".custom-select-trigger").on("click", function() {
            $('html').one('click', function() {
                $(".custom-select").removeClass("opened");
            });
            $(this).parents(".custom-select").toggleClass("opened");
            event.stopPropagation();
        });
        $(".custom-option").on("click", function() {
            $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
            $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
            $(this).addClass("selection");
            $(this).parents(".custom-select").removeClass("opened");
            $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
        });
    </script>
</body>

</html>