<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Blackboard</title>

    <!-- Font -->
    <link href="fonts/FontAwesome/font-awesome.css" rel="stylesheet">
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
	<!-- Socket.io -->
    <script defer src="/socket.io/socket.io.js"></script>
    <!-- Vue -->
    <script defer src="/vue/vue.js"></script>
    <script defer src="/js/axios.js"></script>
    <script defer src="/js/api.js"></script>
    <script defer src="/index.js"></script>

</head>

<body>
    <div id="vue" @wheel.prevent="wheel">
        <svg id="svg" width="100%" height="100%"
            @mousedown="mousedown" @mouseup="mouseup" @mousemove="mousemove"
            @touchstart.prevent="touchstart" @touchend="touchend" @touchmove="touchmove"
            :view-box.camel="viewBox" :class="{editing: editing}">
            <defs>
                <path id="wave1" d="M0 50 C150 150 100 -50 300 50" stroke="#000" fill="none"/>
                <path id="wave2" d="M0 50 C150 0 100 150 300 50" stroke="#000" fill="none"/>
            </defs>
            <template v-for="o in objs">
                <rect v-if="o.type == 'rect'" :stroke="(selected == o._id)? 'white': ''" stroke-dasharray="2"
                    :width="o.width" :height="o.height" :x="o.x" :y="o.y" :fill="o.fill"
                    @mousedown="aim" @click="select(o._id)">
                </rect>
                <text v-if="o.type == 'text'" :stroke="(selected == o._id)? 'white': ''"
                    :x="o.x || 0" :y="o.y || 0" :dx="o.dx || 0" :dy="o.dy || 0" :fill="o.fill || '#fff'" v-text="o.text"
                    @mousedown="aim" @click="select(o._id)">
                </text>
                <image v-if="o.type == 'image'"
                    :x="o.x" :y="o.y" :xlink:href="o.src"
                    @mousedown="aim" @click="select(o._id)">
                </image>
                <text v-if="o.type == 'path'" :stroke="(selected == o._id)? 'white': ''"
                    :x="o.x || 0" :y="o.y || 0" :dx="o.dx || 0" :dy="o.dy || 0" :fill="o.fill || '#fff'"
                    @mousedown="aim" @click="select(o._id)">
                    <textPath :xlink:href="o.path" v-text="o.text"></textPath>
                </text>
            </template>
        </svg>
        <img id="pen" src="img/pen.png" :class="{editing: editing == 1}" @click="edit(1)">
        <img id="pic" src="img/pic.png" :class="{editing: editing == 2}" @click="edit(2)">
    </div>
</body>

</html>
