<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FiO TMS Dashboard</title>

    <!-- Font -->
    <link href="fonts/FontAwesome/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootsnav.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/rwd.css" rel="stylesheet" type="text/css">
    <!-- Vue -->
    <script defer src="/vue/vue.js"></script>
    <script defer src="/js/axios.js"></script>
    <script defer src="/js/api.js"></script>
    <script defer src="/merchants.js"></script>

</head>

<body>
    <div id="vue" class="wrapper merchants">
        <header class="header">
            <!-- Start Navigation -->
            <nav id="nav" class="navbar navbar-default navbar-mobile bootsnav on">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/header-logo.png">
                    </a>
                    <div class="navbar-header-right">
                        <div class="search-bar">
                            <button type="submit" class="searchbutton">
                                <img src="img/search-icon.png">
                            </button>
                            <input type="text" class="searchinput" placeholder="Search e.g. live instagram channel">
                        </div>
                        <div>
                            <a class="user nav-login dropdown-toggle" title="Menu"><img src="img/header-logo2.png"></a>
                            <ul class="dropdown userdown" style="display: none;">
                                <li>
                                    <p> Welcome, <span v-text="username"></sapn> </p> </li>
                                    <li> <a href="#">Profile settings</a> </li>
                                    <li> <a href="/">Logout</a> </li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <!-- End Header Navigation --> 
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="text-center"><a href="/exchange"><div><img src="img/exchange-icon.png">Dashboard</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/consumers"><div><img src="img/exchange-icon.png">Consumers</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/products"><div><img src="img/exchange-icon.png">Products</div></a></li>
                            <li class="text-center is-active"><a href="/merchants"><div><img src="img/merchants-icon-active.png">Merchants</div></a></li>
                            <li class="text-center"><a href="/store"><div><img src="img/store-icon.png">Store</div></a></li>
                            <li class="text-center"><a href="/exchange"><div><img src="img/exchange-icon.png">Exchange</div></a></li>
                            <li class="text-center" v-if="type == 'admin'"><a href="/log"><div><img src="img/store-icon.png">Log</div></a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse --> 
            </nav>
            <!-- End Navigation --> 
        </header>
        <section>
            <div class="row">
                <div class="col-md-3 sidebar">
                    <ul>
                        <li><a href="/dashboard"><img src="img/exchange-icon.png">Dashboard</a></li>
                        <li v-if="type == 'admin'"><a href="/consumers"><img src="img/merchants-icon.png">Consumers</a></li>
                        <li v-if="type == 'admin'"><a href="/products"><img src="img/merchants-icon.png">Products</a></li>
                        <li class="is-active"><a href="/merchants"><img src="img/merchants-icon-active.png">Merchants</a></li>
                        <li><a href="/store"><img src="img/store-icon.png">Store</a></li>
                        <li><a href="/exchange"><img src="img/exchange-icon.png">Exchange</a></li>
                        <li v-if="type == 'admin'"><a href="/log"><img src="img/store-icon.png">Log</a></li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-12 content">
                    <div class="breadcrumbs">Home&emsp;/&emsp;<span>Merchants</span></div>
                    <div class="table">
                        <div class="row header">
                            <div class="cell">
                                LCT
                            </div>
                            <div class="cell">
                                Last Date
                            </div>
                            <div class="cell">
                                Amount
                            </div>
                            <div class="cell">
                                Transactions
                            </div>
                        </div>
                        <div v-for="m in merchants" class="row">
                            <div v-text="m.name" class="cell" data-title="LCT">
                            </div>
                            <div v-text="m.last_date" class="cell" data-title="Last Date">
                            </div>
                            <div v-text="m.amount" class="cell" data-title="Amount">
                            </div>
                            <div class="cell" data-title="Transactions">
                                <a @click="detail(m.name)" class="btn table-btn">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!-- js --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootsnav.js"></script> 
    <script>
        $(function() {
            // Dropdown toggle
            $('.dropdown-toggle').click(function() {
                $(this).next('.dropdown').toggle();
            });

            $(document).click(function(e) {
                var target = e.target;
                if (!$(target).is('.dropdown-toggle') && !$(target).parents().is('.dropdown-toggle')) {
                    $('.dropdown').hide();
                }
            });

        });
    </script>
</body>

</html>